---
# GitHub Actions ephemeral Docker-based runners playbook
# Configures the runner host VM with Docker and deploys ephemeral runner containers
#
# Prerequisites:
# - Runner VM created via 00_create_runner_vm.yaml
# - VM added to inventory under [github_runners] group
# - GitHub registration token provided via Vault or --extra-vars
#
# Usage:
#   ansible-playbook github-docker-runners.yml
#   ansible-playbook github-docker-runners.yml --extra-vars "github_registration_token=YOUR_TOKEN"

- name: Configure GitHub Actions ephemeral Docker runners
  hosts: github_runners
  become: true
  gather_facts: true
  
  roles:
    - github_docker_runners
