{
{% if docker is defined and docker | length > 0 %}
    "data-root": "{{ docker }}"
{% endif %}
{% if storage_driver is defined and storage_driver | length > 0 %}
    ,
    "storage-driver": "{{ storage_driver }}"
{% endif %}
{% if nvidia_gpu is defined and nvidia_gpu %}
    ,
    "runtimes": {
        "nvidia": {
            "args": [],
            "path": "nvidia-container-runtime"
        }
    }
{% endif %}
}
