<Config>
  <Port>8902</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>f04a996effa8494aa68712bdb0b33a6f</ApiKey>
  <AuthenticationMethod>Basic</AuthenticationMethod>
  <Branch>main</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <UpdateMechanism>Docker</UpdateMechanism>
  <LogLevel>Info</LogLevel>
  <UpdateAutomatically>True</UpdateAutomatically>
  <InstanceName>Sonarr</InstanceName>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
</Config>