[Unit]
Description=grafana
After=docker.service zfs-mount.service zfs-import.target
Requires=docker.service zfs-mount.service zfs-import.target
RequiresMountsFor=/data01

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=300s
Environment=IMAGE="grafana/grafana"
Environment=VERSION="latest"
Environment=LOCALDIR="/data01/services/%N"
PassEnvironment=IMAGE VERSION LOCALDIR
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ=America/Los_Angeles \
    -p=8910:3000 \
    -e "GF_INSTALL_PLUGINS=marcusolsson-treemap-panel 2.0.0" \
    -v ${LOCALDIR}:/etc/grafana \
    -v ${LOCALDIR}/plugins:/var/lib/grafana/plugins \
    ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
