[Unit]
Description=grafana
After=docker.service zfs-mount.service zfs-import.target
Requires=docker.service zfs-mount.service zfs-import.target
RequiresMountsFor=/data01

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
RuntimeMaxSec=7d
TimeoutStartSec=600s
TimeoutStopSec=600s
Restart=always
ExecStartPre=-docker rm -f {{ service }}
ExecStartPre=-docker images --filter reference={{ image }}:{{ version }} -q | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull {{ image }}:{{ version }}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ=America/Los_Angeles \
    -p=8910:3000 \
    -e "GF_INSTALL_PLUGINS=marcusolsson-treemap-panel 2.0.0" \
    -v ${LOCALDIR}:/etc/grafana \
    -v ${LOCALDIR}/plugins:/var/lib/grafana/plugins \
  {{ image }}:{{ version }}
ExecStop=docker rm -f {{ service }}

[Install]
WantedBy=multi-user.target
