[Unit]
Description=overseerr
After=docker.service
Requires=docker.service

[Service]
Restart=always
RuntimeMaxSec=7d
RestartSec=10s
TimeoutStartSec=60
Environment=IMAGE="sctx/overseerr"
Environment=VERSION="latest"
Environment=LOCALDIR="/data01/services/%N"
Environment=DATADIR="/data01/complete"
PassEnvironment=IMAGE VERSION LOCALDIR DATADIR
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ=America/Los_Angeles \
    -p 5055:5055 \
    -v ${LOCALDIR}/config:/app/config \
        ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
