[Unit]
Description={{ service }}
After=docker.service zfs-mount.service zfs-import.target
Requires=docker.service zfs-mount.service zfs-import.target
RequiresMountsFor=/data01


[Service]
Restart=always
RuntimeMaxSec=7d
RestartSec=10s
TimeoutStartSec=60
Environment=IMAGE="sctx/overseerr"
Environment=VERSION="latest"
Environment=LOCALDIR="/data01/services/%N"
Environment=DATADIR="/data01/complete"
PassEnvironment=IMAGE VERSION LOCALDIR DATADIR
ExecStartPre=-docker rm -f {{ service }}
ExecStartPre=-docker images --filter reference={{ image }}:{{ version }} -q | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull {{ image }}:{{ version }}
ExecStart=docker run --rm \
    --name {{ service }} \
    --hostname {{ service }} \
    -e TZ=America/Los_Angeles \
    -p {{ port }}:5055 \
    -v {{ home }}/config:/app/config \
    {{ image }}:{{ version }}
ExecStop=docker rm -f {{ service }}

[Install]
WantedBy=multi-user.target
