# MySQL Docker Compose Environment
COMPOSE_PROJECT_NAME={{ service }}
COMPOSE_HTTP_TIMEOUT=60

# Service Configuration
SERVICE_NAME={{ service }}
SERVICE_VERSION={{ version }}
SERVICE_PORT={{ port }}

# Paths
SERVICE_HOME={{ home }}
DATA_PATH={{ data }}

# System Configuration  
TZ=America/Los_Angeles
PUID={{ uid }}
PGID={{ gid }}

# MySQL Configuration
MYSQL_ROOT_PASSWORD={{ root_password }}
MYSQL_USER={{ mysql_user }}
MYSQL_DATABASE={{ mysql_database }}
MYSQL_PASSWORD={{ mysql_database_password }}
