# macOS files
.DS_Store
.vscode/settings.json

# ignore qemu-local
qemu-output/

# ignore keys and cert requests
*.csr
*.pem

# ignore unencrypted secrets files (encrypted vault_secrets.yaml is safe to commit)
vault/secrets_plain.yaml

# large files from upstreams
*.iso