# macOS files
.DS_Store

# ignore qemu-local
qemu-output/

# ignore keys and cert requests
*.csr
*.pem

# ignore secrets files
homelab_playbooks/vars_cloudflare_secrets.yaml

# large files from upstreams
*.iso