[Unit]
Description={{ service }}
After=docker.service zfs-mount.service zfs-import.target
Requires=docker.service zfs-mount.service zfs-import.target
RequiresMountsFor=/data01

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
RuntimeMaxSec=7d
Restart=always
RestartSec=30s
TimeoutStartSec=300s
ExecStartPre=-docker rm -f {{ service }}
ExecStartPre=-docker images --filter reference={{ image }}:{{ version }} -q | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull {{ image }}:{{ version }}
ExecStart=docker run --rm\
    --name={{ service }} \
    --hostname={{ service }} \
    --cpus=2 \
    -e TZ="America/Los_Angeles" \
    -p 80:80 \
    -p 443:443 \
    -v {{ path_home }}/nginx.conf:/etc/nginx/nginx.conf:ro \
    -v {{ path_home }}/conf.d:/etc/nginx/conf.d \
    -v {{ path_home }}/logs:/var/log \
  {{ image }}:{{ version }}
ExecStop=docker rm -f  {{ service }}

[Install]
WantedBy=multi-user.target
