[Unit]
Description={{ service }}
After=docker.service
Requires=docker.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=30s
TimeoutStartSec=10s
ExecStart=docker run --rm\
    --log-driver=journald \
    --name={{ service }} \
    --hostname={{ service }} \
    --cpus=2 \
    -e TZ="America/Los_Angeles" \
    -p 80:80 \
    -p 443:443 \
    -v {{ path_home }}/nginx.conf:/etc/nginx/nginx.conf:ro \
    -v {{ path_home }}/conf.d:/etc/nginx/conf.d \
    -v {{ path_home }}/logs:/var/logs/nginx \
  {{ image }}:{{ version }}
ExecStop=docker rm -f  {{ service }}

[Install]
WantedBy=multi-user.target
