[Unit]
SourcePath=/etc/init.d/isc-dhcp-server
Description=isc-dhcp-server
Before=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
Restart=always
RestartSec=10s
TimeoutStartSec=5
TimeoutSec=1min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/isc-dhcp-server start
ExecStop=/etc/init.d/isc-dhcp-server stop