[Unit]
Description=mysql
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=60s
Environment=IMAGE="percona/percona-server"
Environment=VERSION="5.7"
Environment=LOCALDIR="/data01/services/%N"
PassEnvironment=IMAGE VERSION LOCALDIR
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    --cpu-shares=1024 \
    -e TZ=America/Los_Angeles \
    -e PUID=1001 \
    -e PGID=1001 \
    -e MYSQL_ROOT_PASSWORD=mysqlr00tp4ssw0rd \
    -e MYSQL_DATABASE=grafana \
    -e MYSQL_USER=grafana \
    -e MYSQL_PASSWORD=grafana \
    -p 3306:3306 \
    -v ${LOCALDIR}/config:/etc/my.cnf.d \
    -v ${LOCALDIR}/data:/var/lib/mysql \
    -v ${LOCALDIR}/logs:/logs \
    ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
