---
# GitHub Actions ephemeral Docker-based runners playbook
# Configures the runner host VM with Docker and deploys ephemeral runner containers
#
# Prerequisites:
# - Runner VM created via create_runner_vm.yaml
# - VM added to inventory under [github_runners] group
# - GitHub PAT stored in Vault at development.github.vault_github_pat
#
# Usage:
#   ansible-playbook -i inventories/github_runners/hosts.ini \
#     playbooks/individual/infrastructure/github_docker_runners.yaml --ask-vault-pass
#
# The PAT is used by runner containers to automatically generate registration tokens

- name: Configure GitHub Actions ephemeral Docker runners
  hosts: github_runners
  become: true
  gather_facts: true
  vars_files:
    - ../../../vault/secrets.yaml
  
  roles:
    - github_docker_runners
