{
    "website_cookies": {
        "session-id": "{{ audible.website_cookies.session_id }}",
        "ubid-main": "{{ audible.website_cookies.ubid_main }}",
        "x-main": "{{ audible.website_cookies.x_main }}",
        "at-main": "{{ audible.website_cookies.at_main }}",
        "sess-at-main": "{{ audible.website_cookies.sess_at_main }}"
    },
    "adp_token": "{{ audible.adp_token }}",
    "access_token": "{{ audible.access_token }}",
    "refresh_token": "{{ audible.refresh_token }}",
    "device_private_key": "{{ audible.device_private_key }}",
    "store_authentication_cookie": {
        "cookie": "{{ audible.store_authentication_cookie }}"
    },
    "device_info": {
        "device_name": "{{ audible.device_info.device_name }}",
        "device_serial_number": "{{ audible.device_info.device_serial_number }}",
        "device_type": "{{ audible.device_info.device_type }}"
    },
    "customer_info": {
        "account_pool": "{{ audible.customer_info.account_pool }}",
        "user_id": "{{ audible.customer_info.user_id }}",
        "home_region": "{{ audible.customer_info.home_region }}",
        "name": "{{ audible.customer_info.name }}",
        "given_name": "{{ audible.customer_info.given_name }}"
    },
    "expires": 1736476261.700396,
    "locale_code": "us",
    "with_username": false,
    "activation_bytes": null
}
