# Tautulli Docker Compose Environment
COMPOSE_PROJECT_NAME={{ service }}
COMPOSE_HTTP_TIMEOUT=60

# Service Configuration
SERVICE_NAME={{ service }}
SERVICE_VERSION={{ version }}
TAUTULLI_PORT={{ tautulli_port }}
EXPORTER_PORT={{ exporter_port }}

# Paths
SERVICE_HOME={{ home }}
DATA_PATH={{ data }}
PLEX_LOGS={{ plex_logs }}

# System Configuration  
TZ=America/Los_Angeles
PUID={{ uid }}
PGID={{ gid }}

# Tautulli API Configuration
TAUTULLI_API_KEY={{ tautulli_api_key }}
