[Unit]
Description={{ exporter_service }}
After=docker.service
Requires=docker.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
RuntimeMaxSec=7d
Restart=always
RestartSec=120s
TimeoutStartSec=180s
ExecStartPre=-docker rm -f {{ exporter_service }}
ExecStartPre=-docker images --filter reference={{ exporter_image }}:{{ exporter_version }} -q | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull {{ exporter_image }}:{{ exporter_version }}
ExecStart=docker run --rm \
    --name {{ exporter_service }} \
    --hostname {{ exporter_service }} \
    -e TZ=America/Los_Angeles \
    -p {{ exporter_port }}:9487 \
    -e TAUTULLI_API_KEY="{{ tautulli_api_key }}" \
    -e TAUTULLI_URI="http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:{{ tautulli_port }}" \
    -e TAUTULLI_TIMEOUT=60s \
    {{ exporter_image }}:{{ exporter_version }} 
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
