[Unit]
Description=tautulli-exporter
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=30s
Environment=IMAGE="tubaguy50035/tautulli_exporter"
Environment=VERSION="latest"
Environment=LOCALDIR="/data01/services/%N"
Environment="TAUTULLI_URI=http://ocean.home/tautulli"
Environment="TAUTULLI_API_KEY=11c4a8c245984a6cb2b96414cac61923"
PassEnvironment=IMAGE VERSION LOCALDIR DATADIR HOATNAME
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ=America/Los_Angeles \
    -p 8913:9487 \
    -e TAUTULLI_API_KEY="${TAUTULLI_API_KEY}" \
    -e TAUTULLI_URI="${TAUTULLI_URI}" \
    -e TAUTULLI_TIMEOUT=60s \
    ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
