[Unit]
Description=plex-exporter
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=30s
Environment=IMAGE="ghcr.io/axsuul/plex-media-server-exporter"
Environment=VERSION="latest"
PassEnvironment=IMAGE VERSION
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ="America/Los_Angeles" \
    -e VERSION=${VERSION} \
    -e PLEX_TOKEN="Bgwuadg8qBRS1EVYSyws" \
    -e PLEX_ADDR="http://ocean.home:32400" \
    -e METRICS_MEDIA_COLLECTING_INTERVAL_SECONDS=60 \
    -p 9594:9594/tcp \
  ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
