# Jellyfin Docker Compose Environment Variables
COMPOSE_PROJECT_NAME=jellyfin
JELLYFIN_IMAGE={{ image }}
JELLYFIN_VERSION={{ version }}
JELLYFIN_HOME={{ jellyfin_home }}
COMPLETE_DIR={{ complete }}

# Exporter
JELLYFIN_EXPORTER_IMAGE={{ jellyfin_exporter_image }}
JELLYFIN_EXPORTER_VERSION={{ jellyfin_exporter_version }}
JELLYFIN_EXPORTER_PORT={{ jellyfin_exporter_port }}
