[Unit]
Description={{ alertmanager_service }}
After=docker.service zfs-mount.service zfs-import.target
Requires=docker.service zfs-mount.service zfs-import.target
RequiresMountsFor=/data01

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ alertmanager_home }}
EnvironmentFile={{ alertmanager_home }}/.env
Environment="COMPOSE_HTTP_TIMEOUT=180"

# Stop running instance
ExecStartPre=-docker compose down --timeout 30

# Start services
ExecStart=docker compose up -d --quiet-pull

# Stop services
ExecStop=docker compose down --timeout 30

# Cleanup
ExecReload=docker compose restart

TimeoutStartSec=300
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
