[Unit]
Description={{ mtr_exporter_service }}
After=docker.service
Requires=docker.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
RuntimeMaxSec=7d
Restart=always
RestartSec=120s
TimeoutStartSec=180s
ExecStartPre=-docker rm -f {{ mtr_exporter_service }}
ExecStartPre=-/usr/bin/docker pull {{ mtr_exporter_image }}:{{ mtr_exporter_version }}
ExecStart=docker run --rm --init \
    --name {{ mtr_exporter_service }} \
    --hostname {{ mtr_exporter_service }} \
    --cap-add NET_RAW \
    -e TZ=America/Los_Angeles \
    -p {{ mtr_exporter_port }}:8080 \
    -v {{ path_home }}/config/mtr-exporter-jobs.txt:/jobs.txt:ro \
    {{ mtr_exporter_image }}:{{ mtr_exporter_version }} \
      -jobs /jobs.txt
ExecStop=docker rm -f {{ mtr_exporter_service }}

[Install]
WantedBy=multi-user.target
