[Unit]
Description={{ nvidia_gpu_exporter_service }}
After=docker.service zfs-mount.service zfs-import.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ nvidia_gpu_exporter_home }}
EnvironmentFile={{ nvidia_gpu_exporter_home }}/.env

# Stop running instance
ExecStartPre=-docker compose down --timeout 30

# Start services
ExecStart=docker compose up -d --quiet-pull

# Stop services
ExecStop=docker compose down --timeout 30

# Cleanup
ExecReload=docker compose restart

TimeoutStartSec=300
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
