server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://192.168.1.143:3100/loki/api/v1/push

scrape_configs:
  - job_name: registry-cache-journal
    journal:
      max_age: 12h
      labels:
        job: registry-cache
        host: registry-cache-01
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
      - source_labels: ['__journal__hostname']
        target_label: 'hostname'
      - source_labels: ['__journal_syslog_identifier']
        target_label: 'syslog_identifier'
      - source_labels: ['__journal_container_name']
        target_label: 'container'
        regex: '(.+)'
      - source_labels: ['__journal_container_tag']
        target_label: 'service'
        regex: '(.+)'
    pipeline_stages:
      - match:
          selector: '{service=~".*-cache"}'
          stages:
            - regex:
                expression: '^time="(?P<timestamp>[^"]+)"\s+level=(?P<level>\w+)\s+msg="(?P<message>.*?)"\s*'
            - labels:
                level:
