---
# Plex Media Server and companion services deployment
# 
# Available tags:
#   --tags config           Deploy only config files
#   --tags service          Deploy only systemd service definitions
#   --tags setup            Create only directories
#   --tags plex             Deploy only plex-related tasks
#   --tags meta-manager     Deploy only meta-manager tasks
#   --skip-tags restart     Prevent service restarts (use with --tags config)
#
# Usage examples:
#   Deploy configs without restarting services:
#     ansible-playbook playbooks/individual/ocean/media/plex.yaml --tags config --skip-tags restart
#   
#   Update only Plex configs (no meta-manager):
#     ansible-playbook playbooks/individual/ocean/media/plex.yaml --tags plex,config --skip-tags restart
#   
#   Full deployment (default):
#     ansible-playbook playbooks/individual/ocean/media/plex.yaml
#
- name: Plex and companion docker systemd services
  hosts: ocean
  become: true
  
  vars_files:
    - ../../../../vault/secrets.yaml
    - ../../../../vars/vars_service_ports.yaml

  vars:
    service: plex
    image: plexinc/pms-docker
    version: latest
    plex_claim: "{{ media_services.plex.claim_token }}"
    plex_api_key: "{{ media_services.plex.api_key }}"
    plex_token: "{{ media_services.plex.plex_token }}"
    plex_ports_tcp: "{{ service_ports.plex.tcp }}"
    plex_ports_udp: "{{ service_ports.plex.udp }}"
    devices:
    - /dev/nvidia-modeset
    - /dev/nvidia0
    - /dev/nvidiactl
    exporter_service: plex-exporter
    exporter_image: ghcr.io/axsuul/plex-media-server-exporter
    exporter_version: latest
    exporter_port: "{{ service_ports.plex_exporter.port }}"
    meta_manager_service: plex-meta-manager
    meta_manager_image: meisnate12/plex-meta-manager
    meta_manager_version: latest
    data: /data01
    files: ../../../../files/ocean-plex
    complete: "{{ data }}/complete"
    plex_home: "{{ data }}/services/{{ service }}"
    meta_manager_home: "{{ data }}/services/{{ meta_manager_service }}"
    ramdisk: /mnt/ramdisk
    user: media
    uid: 1001

  tasks:

  - name: Ensure basedir exists
    ansible.builtin.file:
      path: "{{ plex_home }}"
      state: directory
      owner: "{{ user }}"
      group: "{{ user }}"
      mode: '0755'
    tags: [always, setup, plex]

  - name: Ensure subdirs exist
    ansible.builtin.file:
      path: "{{ plex_home }}/{{ item }}"
      state: directory
      owner: "{{ user }}"
      group: "{{ user }}"
      mode: '0755'
    with_items:
    - "Profiles"
    - "config/Library/Application Support/Plex Media Server"
    tags: [always, setup, plex]

  - name: Remove old lowercase preferences file if it exists
    ansible.builtin.file:
      path: "{{ plex_home }}/config/Library/Application Support/Plex Media Server/preferences.xml"
      state: absent
    tags: [config, plex]

  - name: Create preferences file
    ansible.builtin.template:
      src: "{{ files }}/config/preferences.xml"
      dest: "{{ plex_home }}/config/Library/Application Support/Plex Media Server/Preferences.xml"
      mode: '0644'
      owner: "{{ user }}"
      group: "{{ user }}"
    notify:
    - Reload systemd daemon
    - Restart plex service
    tags: [config, plex]

  - name: Copy all files from Profiles directory
    ansible.builtin.copy:
      src: "{{ files }}/Profiles/"
      dest: "{{ plex_home }}/Profiles/"
      mode: '0644'
      owner: "{{ user }}"
      group: "{{ user }}"
      directory_mode: '0755'
    with_fileglob:
    - "{{ files }}/Profiles/*"
    notify:
    - Reload systemd daemon
    - Restart plex service
    tags: [config, plex]

  - name: Create plex docker-compose files
    ansible.builtin.template:
      src: "{{ files }}/{{ item.src }}"
      dest: "{{ plex_home }}/{{ item.dest }}"
      mode: '0644'
      owner: "{{ user }}"
      group: "{{ user }}"
    with_items:
    - { src: "plex-compose.yml.j2", dest: "docker-compose.yml" }
    - { src: "plex-compose.env.j2", dest: ".env" }
    notify:
    - Reload systemd daemon
    - Restart plex service
    tags: [config, plex]

  - name: Create plex docker-compose systemd service
    ansible.builtin.template:
      src: "{{ files }}/plex-compose.service.j2"
      dest: "/etc/systemd/system/plex.service"
      mode: '0644'
    notify:
    - Reload systemd daemon
    - Restart plex service
    tags: [service, plex]

  - name: Ensure meta-manager basedir exists
    ansible.builtin.file:
      path: "{{ meta_manager_home }}"
      state: directory
      owner: "{{ user }}"
      group: "{{ user }}"
      mode: '0755'
    tags: [always, setup, meta-manager]

  - name: Create meta_manager_home preferences file
    ansible.builtin.template:
      src: "{{ files }}/meta-manager/config.yml"
      dest: "{{ meta_manager_home }}/config/config.yml"
      mode: '0644'
      owner: "{{ user }}"
      group: "{{ user }}"
    notify:
    - Reload systemd daemon
    - Restart meta-manager service
    tags: [config, meta-manager]

  - name: Create meta-manager docker-compose files
    ansible.builtin.template:
      src: "{{ files }}/{{ item.src }}"
      dest: "{{ meta_manager_home }}/{{ item.dest }}"
      mode: '0644'
      owner: "{{ user }}"
      group: "{{ user }}"
    with_items:
    - { src: "plex-meta-manager-compose.yml.j2", dest: "docker-compose.yml" }
    - { src: "plex-meta-manager.env.j2", dest: ".env" }
    notify:
    - Reload systemd daemon
    - Restart meta-manager service
    tags: [config, meta-manager]

  - name: Create meta-manager docker-compose systemd service
    ansible.builtin.template:
      src: "{{ files }}/{{ item }}.j2"
      dest: "/etc/systemd/system/{{ item }}"
      mode: '0644'
    with_items:
    - plex-meta-manager.service
    notify:
    - Reload systemd daemon
    - Restart meta-manager service
    tags: [service, meta-manager]

  - name: Enable meta-manager service
    ansible.builtin.systemd:
      name: plex-meta-manager.service
      enabled: true
      state: started
    tags: [service, meta-manager]

  handlers:
  - name: Reload systemd daemon
    ansible.builtin.systemd:
      daemon_reload: yes
    tags: [restart, service]

  - name: Restart plex service
    ansible.builtin.systemd:
      name: plex.service
      state: restarted
    tags: [restart, plex]

  - name: Restart meta-manager service
    ansible.builtin.systemd:
      name: plex-meta-manager.service
      state: restarted
    tags: [restart, meta-manager]
