[Unit]
Description=node-exporter
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=60s
Environment=IMAGE="prom/node-exporter"
Environment=VERSION="latest"
Environment=LOCALDIR="/data01/services/%N"
PassEnvironment=IMAGE VERSION LOCALDIR DATADIR HOATNAME
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ=America/Los_Angeles \
    --pid=host \
    --net=host \
    --privileged \
    --cap-add SYS_ADMIN \
    --cap-add NET_ADMIN \
    -v "/:/host:ro,rslave" \
    -v "${LOCALDIR}/text_files:/text_files" \
    -v /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket \
    ${IMAGE}:${VERSION} \
        --log.level=info \
        --path.rootfs=/host \
        --collector.zfs \
        --collector.nfsd \
        --collector.thermal_zone \
        --collector.ethtool \
        --collector.lnstat \
        --collector.netstat \
        --collector.tcpstat \
        --collector.systemd \
        --collector.processes \
        --collector.sysctl \
        --collector.perf.cpus=1-16 \
        --collector.textfile.directory=/text_files
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
