{
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "10m",
        "max-file": "3",
        "compress": "true"
    },
    "live-restore": true,
    "storage-driver": "overlay2"
{% if docker is defined and docker | length > 0 %}
    ,
    "data-root": "{{ docker }}"
{% endif %}
{% if nvidia_gpu is defined and nvidia_gpu %}
    ,
    "runtimes": {
        "nvidia": {
            "args": [],
            "path": "nvidia-container-runtime"
        }
    }
{% endif %}
}
