{
    "log-driver": "journald",
    "log-opts": {
        "tag": "{{ '{{.Name}}' }}"
    },
    "live-restore": true,
    "storage-driver": "overlay2"
{% if docker is defined and docker | length > 0 %}
    ,
    "data-root": "{{ docker }}"
{% endif %}
{% if nvidia_gpu is defined and nvidia_gpu %}
    ,
    "runtimes": {
        "nvidia": {
            "args": [],
            "path": "nvidia-container-runtime"
        }
    }
{% endif %}
}
