# Homepage services configuration (templated)
# Service names are KEYS, not 'name:' properties

- Network:
    - nginx:
        icon: nginx
        href: http://homepage.home
        description: Reverse proxy

- AI / ML:
    - Open WebUI:
        icon: openai
        href: http://open-webui.home
    - llama.cpp API:
        icon: cpu-64-bit
        href: http://llama.home
    - ComfyUI:
        icon: palette
        href: http://comfyui.home

- Media:
    - Plex:
        icon: plex
        href: http://plex.home
    - Jellyfin:
        icon: jellyfin
        href: http://jellyfin.home
    - Sonarr:
        icon: sonarr
        href: http://sonarr.home
    - Radarr:
        icon: radarr
        href: http://radarr.home
    - Prowlarr:
        icon: prowlarr
        href: http://prowlarr.home
    - Bazarr:
        icon: bazarr
        href: http://bazarr.home
    - NZBGet:
        icon: nzbget
        href: http://nzbget.home
    - Overseerr:
        icon: overseerr
        href: http://overseerr.home
    - Tautulli:
        icon: tautulli
        href: http://tautulli.home
    - Tdarr:
        icon: tdarr
        href: http://tdarr.home

- Monitoring:
    - Grafana:
        icon: grafana
        href: http://grafana.home
    - Prometheus:
        icon: prometheus
        href: http://prometheus.home
    - Loki:
        icon: loki
        href: http://loki.home
    - UnPoller:
        icon: unifi
        href: http://unpoller.home

- Cloud & Apps:
    - NextCloud:
        icon: nextcloud
        href: http://nextcloud.home
    - TinaCMS:
        icon: note-text-outline
        href: http://tina.home
    - Frigate NVR:
        icon: cctv
        href: http://frigate.home
    - Home Assistant:
        icon: home-assistant
        href: http://homeassistant.home
    - Saetnere Blog:
        icon: wordpress
        href: http://saetnere.home
