# Grafana Docker Compose Environment
COMPOSE_PROJECT_NAME={{ service }}
COMPOSE_HTTP_TIMEOUT=60

# Service Configuration
SERVICE_NAME={{ service }}
SERVICE_VERSION={{ version }}
SERVICE_PORT_INT={{ port_int }}
SERVICE_PORT_EXT={{ port_ext }}

# Paths
SERVICE_HOME={{ home }}
DATA_PATH={{ data }}

# System Configuration  
TZ=America/Los_Angeles
PUID={{ uid | default(0) }}
PGID={{ gid | default(0) }}

# Grafana Configuration
GF_INSTALL_PLUGINS={{ plugins | default('marcusolsson-treemap-panel 2.0.0') }}
