[Unit]
Description=sonarr-exporter
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=30s
Environment=IMAGE="ghcr.io/onedr0p/exportarr"
Environment=VERSION="latest"
PassEnvironment=IMAGE VERSION
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ="America/Los_Angeles" \
    -e VERSION=${VERSION} \
    -e PORT=9708 \
    -e URL="http://ocean.home:8902/sonarr" \
    -e APIKEY="f04a996effa8494aa68712bdb0b33a6f" \
    -e ENABLE_ADDITIONAL_METRICS=true \
    -p 9708:9708 \
  ${IMAGE}:${VERSION} \
    sonarr
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
