# Plex Docker Compose Environment Variables
COMPOSE_PROJECT_NAME=plex
PLEX_IMAGE={{ image }}
PLEX_VERSION={{ version }}
PLEX_CLAIM={{ plex_claim }}
PLEX_API_KEY={{ plex_api_key }}
PLEX_TOKEN={{ plex_api_key }}
PLEX_UID={{ uid }}
PLEX_HOME={{ plex_home }}
COMPLETE_DIR={{ complete }}
RAMDISK={{ ramdisk }}
DATA_ROOT={{ data }}
EXPORTER_IMAGE={{ exporter_image }}
EXPORTER_VERSION={{ exporter_version }}
EXPORTER_PORT={{ exporter_port }}
