# Plex Meta Manager Environment Configuration
TZ=America/Los_Angeles
PUID={{ uid }}
PGID={{ uid }}
VERSION={{ meta_manager_version }}

# Container Configuration
COMPOSE_PROJECT_NAME=plex-meta-manager
