[Unit]
Description=cadvisor
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=30s
Environment=IMAGE="gcr.io/cadvisor/cadvisor"
Environment=VERSION="latest"
Environment=LOCALDIR="/data01/services/%N"
PassEnvironment=IMAGE VERSION LOCALDIR DATADIR HOATNAME
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ=America/Los_Angeles \
    -p=8912:8080 \
    --privileged \
    --volume=/:/rootfs:ro \
    --volume=/var/run:/var/run:ro \
    --volume=/sys:/sys:ro \
    --volume=/var/lib/docker/:/var/lib/docker:ro \
    --volume=/dev/disk/:/dev/disk:ro \
    --device=/dev/kmsg \
    ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
