[Unit]
Description=prometheus
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
RuntimeMaxSec=30d
TimeoutStartSec=30s
Environment=IMAGE="prom/prometheus"
Environment=VERSION="latest"
Environment=LOCALDIR="/data01/services/%N"
PassEnvironment=IMAGE VERSION LOCALDIR DATADIR HOATNAME
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ=America/Los_Angeles \
    -p=9090:9090 \
    -v ${LOCALDIR}/config:/config \
    -v ${LOCALDIR}/data:/prometheus/data \
    ${IMAGE}:${VERSION} \
        --config.file=/config/prometheus.yml \
        --storage.tsdb.retention.time=180d \
        --log.level=info
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
