{
  "serverPort": "{{ tdarr_port_api }}",
  "webUIPort": "{{ tdarr_port_web }}",
  "serverIP": "0.0.0.0",
  "serverBindIP": false,
  "handbrakePath": "",
  "ffmpegPath": "",
  "logLevel": "INFO",
  "mkvpropeditPath": "",
  "ccextractorPath": "",
  "openBrowser": true,
  "cronPluginUpdate": "",
  "auth": false,
  "authSecretKey": "Ny-myShfKbknitji35mjsLOfEfHpd",
  "maxLogSizeMB": 10
}