<?php
$CONFIG = array (
  'instanceid' => 'oc{{ ansible_date_time.epoch }}',
  'passwordsalt' => '{{ config_salt }}',
  'secret' => '{{ config_secret }}',
  'trusted_domains' => 
  array (
    0 => 'nextcloud.home',
    1 => 'nextcloud.terrac.com',
    2 => '{{ ansible_default_ipv4.address }}',
    3 => 'localhost',
  ),
  'datadirectory' => '/data',
  'dbtype' => 'mysql',
  'overwrite.cli.url' => 'http://nextcloud.home/',
  'overwriteprotocol' => 'http',
  'overwritehost' => 'nextcloud.home',
  'overwritewebroot' => '/',
  'htaccess.RewriteBase' => '/',
  'dbname' => 'nextcloud',
  'dbhost' => 'nextcloud-db:3306',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => 'nextcloud',
  'dbpassword' => '{{ cloud_services.nextcloud.database_password }}',
  'installed' => true,
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'memcache.distributed' => '\\OC\\Memcache\\Redis',
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'redis' => 
  array (
    'host' => 'nextcloud-redis',
    'port' => 6379,
    'password' => '{{ cloud_services.nextcloud.redis_password }}',
    'timeout' => 0.0,
  ),
  'preview_max_x' => 2048,
  'preview_max_y' => 2048,
  'preview_max_scale_factor' => 1,
  'enable_previews' => true,
  'enabledPreviewProviders' => 
  array (
    0 => 'OC\\Preview\\PNG',
    1 => 'OC\\Preview\\JPEG',
    2 => 'OC\\Preview\\GIF',
    3 => 'OC\\Preview\\BMP',
    4 => 'OC\\Preview\\XBitmap',
    5 => 'OC\\Preview\\MP3',
    6 => 'OC\\Preview\\TXT',
    7 => 'OC\\Preview\\MarkDown',
    8 => 'OC\\Preview\\PDF',
  ),
  'activity_expire_days' => 365,
  'auth.bruteforce.protection.enabled' => true,
  'blacklisted_files' => 
  array (
    0 => '.htaccess',
    1 => 'Thumbs.db',
    2 => 'thumbs.db',
  ),
  'cron_log' => true,
  'enable_external_storage' => false,
  'filelocking.enabled' => true,
  'htaccess.IgnoreFrontController' => false,
  'integrity.check.disabled' => false,
  'knowledgebaseenabled' => false,
  'logfile' => '/config/log/nextcloud.log',
  'loglevel' => 2,
  'logtimezone' => 'America/Los_Angeles',
  'log_rotate_size' => 104857600,
  'maintenance' => false,
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'overwriteprotocol' => 'http',
  'preview_libreoffice_path' => '/usr/bin/libreoffice',
  'preview_office_cl_parameters' => ' --headless --nologo --nofirststartwizard --invisible --norestore --convert-to pdf --outdir ',
  'quota_include_external_storage' => false,
  'share_folder' => '/Shares',
  'skeletondirectory' => '',
  'theme' => '',
  'trashbin_retention_obligation' => 'auto, 7',
  'updater.release.channel' => 'stable',
  'upgrade.disable-web' => false,
  'has_rebuilt_cache' => true,
  'filesystem_check_changes' => 0,
  'part_file_in_storage' => 1,
  'tempdirectory' => '/tmp/nextcloudtemp',
  'mail_smtpmode' => 'smtp',
  'mail_smtpsecure' => 'tls',
  'mail_sendmailmode' => 'smtp',
  'mail_from_address' => 'nextcloud',
  'mail_domain' => 'terrac.com',
  'default_phone_region' => 'US',
  'maintenance_window_start' => 1,
);
