[Unit]
Description={{ service }}
After=docker.service zfs-mount.service zfs-import.target
Requires=docker.service zfs-mount.service zfs-import.target
RequiresMountsFor=/data01

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
RuntimeMaxSec=7d
Restart=always
RestartSec=120s
TimeoutStartSec=180s
ExecStartPre=-docker rm -f {{ service }}
ExecStartPre=-docker images --filter reference={{ image }}:{{ version }} -q | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull {{ image }}:{{ version }}
ExecStart=docker run --rm \
    --name {{ service }} \
    --hostname {{ service }} \
    -e TZ="America/Los_Angeles" \
    -e PUID=1001 -e PGID=1001 \
    -p {{ prowlarr_port }}:9696 \
    -v {{ home }}/config:/config \
  {{ image }}:{{ version }}
ExecStop=docker rm -f {{ service }}

[Install]
WantedBy=multi-user.target
