[Unit]
Description={{ exporter_service }}
After=docker.service zfs-mount.service zfs-import.target
Requires=docker.service zfs-mount.service zfs-import.target
RequiresMountsFor=/data01


[Service]
Type=simple
StandardOutput=journal
StandardError=journal
RuntimeMaxSec=7d
Restart=always
RestartSec=120s
TimeoutStartSec=180s
ExecStartPre=-docker rm -f {{ exporter_service }}
ExecStartPre=-docker images --filter reference={{ exporter_image }}:{{ exporter_version }} -q | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull {{ exporter_image }}:{{ exporter_version }}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ="America/Los_Angeles" \
    -e VERSION=${VERSION} \
    -e PORT={{ exporter_port }} \
    -e URL="http://ocean.home:{{ prowlarr_port }}" \
    -e APIKEY="83e44c481a5d4060a3c8f9214ed3fba5" \
    -e ENABLE_ADDITIONAL_METRICS=true \
    -p {{ exporter_port }}:9710 \
    {{ exporter_image }}:{{ exporter_version }} prowlarr
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
