[Unit]
Description={{ service }}
# Start LATE - after all other services to avoid UDP port collisions
After=network-online.target docker.service homeassistant.service nginx.service
Wants=network-online.target

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=5
PrivateTmp=true
Type=simple
PIDFile=/run/cloudflared.pid
ExecStart=cloudflared tunnel --config {{ config }} run {{ tunnel }}

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cloudflared

[Install]
WantedBy=multi-user.target
