vrrp_script haproxy-check {
    script "/usr/bin/killall -0 haproxy"
    interval 2
    weight 20
}

vrrp_instance haproxy-vip {
    state BACKUP
    interface {{ iface.stdout }}
    priority {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'].split('.')[-1] }}
    virtual_router_id {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'].split('.')[-1] }}
    advert_int 3
    unicast_src_ip {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
    unicast_peer {
{% for value in HOST_IP.values() if HOST_IP[inventory_hostname] not in value %}
        {{value}}
{% endfor %}
    }
    virtual_ipaddress {
        {{APISERVER_IP}}
    }
    track_script {
        haproxy-check weight 20
    }
}
