apiVersion: kubescheduler.config.k8s.io/v1beta3
kind: KubeSchedulerConfiguration
clientConnection:
  kubeconfig: "{{controller_confpath}}/kube-scheduler.kubeconfig"
leaderElection:
  leaderElect: true
