# fail2ban-exporter environment configuration
COMPOSE_PROJECT_NAME={{ fail2ban_exporter_service }}

# Service configuration
SERVICE_NAME={{ fail2ban_exporter_service }}
VERSION={{ fail2ban_exporter_version }}
PORT={{ fail2ban_exporter_port }}
HOSTNAME={{ inventory_hostname }}
