[Unit]
Description={{ service }}
After=network.target

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=5
PrivateTmp=true
Type=simple
PIDFile=/var/run/cloudflared.pid
ExecStart=cloudflared tunnel --config {{ config }} run {{ ssh_tunnel_id | default(cloudflared.tunnels[tunnel_name].id) }}

[Install]
WantedBy=multi-user.target
