tunnel: 1808d97e-fc1b-4244-8233-f076ff6f9e8a
credentials-file: /home/terrac/.cloudflared/1808d97e-fc1b-4244-8233-f076ff6f9e8a.json

ingress:
- hostname: overseerr.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:5055"
- hostname: nzbget.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8901"
- hostname: sonarr.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8902"
- hostname: radarr.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8903"
- hostname: tautulli.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8905"
- hostname: tdarr.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8265"
- hostname: grafana.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8910"
- hostname: portainer.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8000"
- hostname: bazarr.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:6767"
- hostname: prometheus.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:9090"
- hostname: cadvisor.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8912"
- hostname: home-assistant.terrac.com
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8123"
- hostname: unifi.terrac.com
  service: "https://192.168.1.10"
  originRequest:
  noTLSverify: true
  originServerName: “unifi”
- hostname: "*"
  service: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:80"