$ORIGIN  1.168.192.in-addr.arpa.
$TTL 86400 ; 1 day

@ IN SOA dns01.home. dnsadmin.home. (
      {{ ansible_date_time.epoch }}  ; serial
      3600        ; refresh (1 hours)
      3600        ; retry (1 hour)
      3600        ; expire (1 hour)
      3600        ; minimum (1 hour)
)

; internal DNS
@           IN          NS          dns01.home.
2           IN          PTR         dns01.home.
5           IN          PTR         gitlab.home.
9           IN          PTR         pihole.home.
10          IN          PTR         unifi.home.

; Dell iDracs impi OOB starts at .10 and is last digit of IP/name
15          IN         PTR        node005-idrac.home.
16          IN         PTR        node006-idrac.home.

20          IN         PTR        gh-runner-01.home.
25          IN         PTR        gh-test-vm.home.

31          IN         PTR        openclaw.home.
30          IN         PTR        metrics.home.

51		IN		PTR		kube501.home.
52		IN		PTR		kube502.home.
53		IN		PTR		kube503.home.
54		IN		PTR		kube511.home.
55		IN		PTR		kube512.home.
56		IN		PTR		kube513.home.

61		IN		PTR		kube611.home.
62		IN		PTR		kube612.home.
63		IN		PTR		kube613.home.

; 64 - 95 MetalLB
;; .64.168.192.in-addrarpa. assigned yo MetalLB
;;    [CIDR]
;;    Network range		- 192.168.1.64 - 192.168.1.95
;;    Network address		- 192.168.1.64
;;    Broadcast address	      - 192.168.1.95
;;    Network mask		- 255.255.255.224
;;    Network mask (bits)	- 27
;;    Addresses in network	- 35

99          IN          PTR         apiserver.home.


105		IN		PTR		node005.home.
106		IN		PTR		node006.home.

143		IN		PTR		ocean.home.
144		IN		PTR		ocean-eth0.home.

; DHCP range 192.168.1.150 - 192.168.1.239

; networking
1     IN    PTR         usg-3p.home.
240   IN    PTR         us-8-150w-poe.home.
241   IN    PTR         us-48-ac-pro.home.
242   IN    PTR         us-16-xg-10g.home.
243   IN    PTR         uap-ac-pro-home-1.home.
244   IN    PTR         uap-ac-pro-home-2.home.
245   IN    PTR         uap-ac-pro-garage-1.home.
