$ORIGIN home.
$TTL 86400 ; 1 day

@ IN SOA dns01.home. dnsadmin.home. (
      {{ ansible_date_time.epoch }}    ; serial
      3600          ; refresh (1 hours)
      3600          ; retry (1 hour)
      3600          ; expire (1 hour)
      3600          ; minimum (1 hour)
)

@                 IN          NS    dns01.home.

gw                IN          A     192.168.1.1
dns01             IN          A     192.168.1.2
gitlab            IN          A     192.168.1.5
pihole            IN          A     192.168.1.9
unifi             IN          A     192.168.1.10

; Add a wildcard record to resolve any undefined *.home domains
; currently resolves to ocean nginx instance
*.home.          IN        A    192.168.1.143


;; 192.168.1.64/27 Assigned to MetalLB
;;    [CIDR]
;;    Network range              - 192.168.1.64 - 192.168.1.95
;;    Network address            - 192.168.1.64
;;    Broadcast address          - 192.168.1.95
;;    Network mask               - 255.255.255.224
;;    Network mask (bits)        - 27
;;    Addresses in network       - 32

; this IP address used by KeepaliveD
; floats across kube-controller nodes
; bound to HAproxy in config
; only assigned to one node at a time
apiserver      IN        A    192.168.1.99

; Dell iDrac impi OOB starts at 192.168.1.10 and is last digit of IP/name
node005-idrac    IN        A     192.168.1.15
ocean-idrac    IN        A     192.168.1.16

; proxmox vms
; node005 (control plane and workers)
kube501         IN      A       192.168.1.51
kube502         IN      A       192.168.1.52
kube503         IN      A       192.168.1.53
kube511         IN      A       192.168.1.54
kube512         IN      A       192.168.1.55
kube513         IN      A       192.168.1.56

; node006 (all workers)
kube611         IN      A       192.168.1.61
kube612         IN      A       192.168.1.62
kube613         IN      A       192.168.1.63

; dells
node005          IN        A    192.168.1.105
node006          IN        A    192.168.1.106

; Ocean, do not touch
ocean            CNAME          ocean-bond0
ocean-bond0      IN        A    192.168.1.143
ocean-eth0       IN        A    192.168.1.144

; networking
usg-3p                  IN    A     192.168.1.1
us-48-ac-pro            IN    A     192.168.1.240
us-16-xg-10g            IN    A     192.168.1.241
us-8-150w-poe           IN    A     192.168.1.242
uap-ac-pro-home-1       IN    A     192.168.1.243
uap-ac-pro-home-2       IN    A     192.168.1.244
uap-ac-pro-garage-1     IN    A     192.168.1.245
