[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name "{{inventory_hostname}}" \
  --cert-file {{pki_dir}}/kubernetes.pem \
  --key-file {{pki_dir}}/kubernetes-key.pem \
  --peer-cert-file {{pki_dir}}/kubernetes.pem \
  --peer-key-file {{pki_dir}}/kubernetes-key.pem \
  --trusted-ca-file {{pki_dir}}/ca.pem \
  --peer-trusted-ca-file {{pki_dir}}/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{HOST_IP[inventory_hostname]}}:2380 \
  --listen-peer-urls https://{{HOST_IP[inventory_hostname]}}:2380 \
  --listen-client-urls https://{{HOST_IP[inventory_hostname]}}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{HOST_IP[inventory_hostname]}}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ PEERS_MAP }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target