{
    "cniVersion": "0.4.0",
    "name": "bridge",
    "type": "bridge",
    "bridge": "cnio0",
    "isGateway": true,
    "ipMasq": true,
    "ipam": {
        "type": "host-local",
        "ranges": [
          [{ "subnet": "{{'.'.join(CLUSTER_CIDR.split('.')[:2])}}.{{ inventory_hostname[-1] }}.0/{{POD_NETMASK}}" }]
         ],
        "routes": [{"dst": "0.0.0.0/0"}]
    }
}
