---
- name: Deploy UnPoller for UniFi metrics collection
  hosts: ocean
  become: true
  gather_facts: true

  vars_files:
    - vault_secrets.yaml

  vars:
    path_data01: /data01/services
    uid: 1026  # Ocean user ID
    gid: 100   # Users group ID
    
    # UnPoller (Docker Compose deployment)
    unpoller_service: unpoller
    unpoller_image: golift/unifi-poller
    unpoller_version: latest
    unpoller_port: 9130
    unpoller_home: "{{ path_data01 }}/{{ unpoller_service }}"
    unpoller_files: "files/unpoller"
    
    # UniFi Controller Configuration (from vault)
    unifi_controller_url: "{{ network.unifi.controller_url }}"
    unifi_username: "{{ network.unifi.monitoring_user.username }}"
    unifi_password: "{{ network.unifi.monitoring_user.password }}"

  tasks:

  - name: Ensure unpoller directory exists
    ansible.builtin.file:
      path: "{{ item }}"
      state: directory
      owner: "{{ uid }}"
      group: "{{ gid }}"
      mode: '0755'
    with_items:
    - "{{ unpoller_home }}"
    - "{{ unpoller_home }}/config"

  - name: Create unpoller docker-compose.yml
    ansible.builtin.template:
      src: "{{ unpoller_files }}/unpoller-compose.yml.j2"
      dest: "{{ unpoller_home }}/docker-compose.yml"
      owner: "{{ uid }}"
      group: "{{ gid }}"
      mode: '0644'
    register: unpoller_docker_compose_config

  - name: Create unpoller environment file
    ansible.builtin.template:
      src: "{{ unpoller_files }}/unpoller.env.j2"
      dest: "{{ unpoller_home }}/.env"
      owner: "{{ uid }}"
      group: "{{ gid }}"
      mode: '0600'
    register: unpoller_env_config

  - name: Show unpoller configuration status
    ansible.builtin.debug:
      msg: "UnPoller configuration files have been updated - containers will be recreated"
    when: unpoller_docker_compose_config.changed or unpoller_env_config.changed

  - name: Force unpoller container recreation when configs change
    ansible.builtin.shell: |
      cd {{ unpoller_home }}
      echo "Recreating UnPoller containers due to configuration changes..."
      docker-compose down --timeout 30
      docker-compose up -d --force-recreate
      echo "UnPoller container recreation completed"
    when: unpoller_docker_compose_config.changed or unpoller_env_config.changed

  - name: Create unpoller systemd service
    ansible.builtin.template:
      src: "{{ unpoller_files }}/unpoller.service.j2"
      dest: "/etc/systemd/system/unpoller.service"
      mode: '0644'
    notify:
    - Reload systemd daemon
    - Restart unpoller service

  - name: Start and enable unpoller Docker Compose service
    ansible.builtin.systemd:
      name: unpoller.service
      state: started
      enabled: true
      daemon_reload: yes

  handlers:
  - name: Reload systemd daemon
    ansible.builtin.systemd:
      daemon_reload: yes

  - name: Restart unpoller service
    ansible.builtin.systemd:
      name: unpoller.service
      state: restarted
