[Unit]
Description={{ exporter_service }}
After=docker.service
Requires=docker.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
RuntimeMaxSec=7d
Restart=always
RestartSec=120s
TimeoutStartSec=180s
ExecStartPre=-docker rm -f {{ exporter_service }}
ExecStartPre=-docker images --filter reference={{ exporter_image }}:{{ exporter_version }} -q | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull {{ exporter_image }}:{{ exporter_version }}
ExecStart=docker run --rm \
    --name {{ exporter_service }} \
    --hostname {{ exporter_service }} \
    -e TZ="America/Los_Angeles" \
    -e VERSION={{ exporter_version }} \
    -e NZBGET_HOST="http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:{{ nzbget_port }}" \
    -p {{ exporter_port }}:9452 \
    {{ exporter_image }}:{{ exporter_version }}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
