[Unit]
Description=nzbget-exporter
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=30s
Environment=IMAGE="frebib/nzbget-exporter"
Environment=VERSION="latest"
PassEnvironment=IMAGE VERSION
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ="America/Los_Angeles" \
    -e VERSION=${VERSION} \
    -e NZBGET_HOST=http://ocean.home:8901 \
    -p 9452:9452 \
    ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
