[Unit]
Description=tdarr
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=240s
Environment=IMAGE="haveagitgat/tdarr"
Environment=VERSION="latest"
Environment=LOCALDIR="/data01/services/%N"
Environment=DATADIR="/data01/complete"
Environment=TRANSCODE="/transcode"
PassEnvironment=IMAGE VERSION LOCALDIR DATADIR TRANSCODE
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ="America/Los_Angeles" \
    -e THREADS_WORKER_INIT_TIMEOUT=200000 \
    -e "webUIPort=8265" \
    -e "serverPort=8266" \
    -e "BASE=/tdarr" \
    -e "ROOT_URL=http://ocean.home/tdarr" \
    -e PUID=1001 -e PGID=1001 \
    -p 8265:8265 \
    -p 8266:8266 \
    -v ${LOCALDIR}/plugins/bluefishforsale_tdarr_plugins:/app/server/Tdarr/Plugins/Local \
    -v ${DATADIR}:/media \
    -v ${LOCALDIR}/server:/app/server \
    -v ${LOCALDIR}/conf:/app/configs \
    -v ${LOCALDIR}/logs:/app/logs \
    -v ${TRANSCODE}:/temp \
  ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
