[Unit]
Description={{ service_node }}
After=docker.service
Requires=docker.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
RuntimeMaxSec=7d
Restart=always
RestartSec=30s
TimeoutStartSec=10s
ExecStartPre=-docker rm -f {{ service_node }}
ExecStartPre=-docker images --filter reference={{ image }}:{{ version }} -q | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull {{ image }}:{{ version }}
ExecStart=docker run --rm\
    --name={{ service_node }} \
    --hostname={{ service_node }} \
    --runtime nvidia \
    --gpus='all,"capabilities=compute,utility,video"' \
    -e NVIDIA_VISIBLE_DEVICES=all \
    -e NVIDIA_DRIVER_CAPABILITIES=compute,video,utility \
    -e THREADS_WORKER_INIT_TIMEOUT=200000 \
    -e TZ="America/Los_Angeles" \
    -e PGID=1001 -e PUID=1001 \
    -e "serverIP={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}" \
    -e "serverPort={{tdarr_port_api}}" \
    -e "nodePort={{node_port}}" \
    -e "nodeID={{ inventory_hostname }}.home" \
    -e "nodeIP={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}" \
    -p {{ node_port }}:8267 \
    -v {{ path_home }}/plugins/bluefishforsale_tdarr_plugins:/app/server/Tdarr/Plugins/Local \
    -v {{ path_complete }}:/media \
    -v {{ path_home }}/server:/app/server \
    -v {{ path_home }}/conf:/app/configs \
    -v {{ path_home }}/logs:/app/logs \
    -v {{ transcode }}:/temp \
  {{ image }}:{{ version }}
ExecStop=docker rm -f  {{ service }}

[Install]
WantedBy=multi-user.target
