{
    "DhcpDdns": {
        "ip-address": "127.0.0.1",
        "port": 53001,
        "dns-server-timeout": 100,
        "ncr-protocol": "UDP",
        "ncr-format": "JSON",

        "control-socket": {
            "socket-type": "unix",
            "socket-name": "/kea/sockets/kea-ddns-ctrl-socket"
        },

        "tsig-keys": [
            {
                "name": "ddns-key",
                "algorithm": "HMAC-SHA256",
                "secret": "{{ infrastructure.dns_stack.tsig_key }}"
            }
        ],

        "forward-ddns": {
            "ddns-domains": [
                {
                    "name": "home.",
                    "key-name": "ddns-key",
                    "dns-servers": [
                        {
                            "ip-address": "127.0.0.1",
                            "port": 5300
                        },
                        {
                            "ip-address": "{{ ha_peer_ip }}",
                            "port": 5300
                        }
                    ]
                }
            ]
        },

        "reverse-ddns": {
            "ddns-domains": [
                {
                    "name": "1.168.192.in-addr.arpa.",
                    "key-name": "ddns-key",
                    "dns-servers": [
                        {
                            "ip-address": "127.0.0.1",
                            "port": 5300
                        },
                        {
                            "ip-address": "{{ ha_peer_ip }}",
                            "port": 5300
                        }
                    ]
                }
            ]
        },

        "loggers": [
            {
                "name": "kea-dhcp-ddns",
                "output-options": [
                    {
                        "output": "stdout",
                        "pattern": "{% raw %}%D{%Y-%m-%d %H:%M:%S.%q} %-5p [%c/%i.%t] %m\n{% endraw %}"
                    }
                ],
                "severity": "INFO",
                "debuglevel": 0
            }
        ]
    }
}
