[Unit]
Description=home-assistant
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30s
RuntimeMaxSec=7d
TimeoutStartSec=240s
Environment=IMAGE="ghcr.io/home-assistant/home-assistant"
Environment=VERSION="stable"
Environment=LOCALDIR="/data01/services/%N"
PassEnvironment=IMAGE VERSION LOCALDIR
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    --privileged \
    --cpus=2 \
    --network=host \
    -e TZ="America/Los_Angeles" \
    -e PUID=1001 -e PGID=1001 \
    --device=/dev/ttyUSB0 \
    --device=/dev/ttyUSB1 \
    --device=/dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_61600611-if00-port0 \
    --device=/dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_61600611-if01-port0 \
    -v /etc/localtime:/etc/localtime:ro \
    -v ${LOCALDIR}:/config \
  ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
