[Unit]
Description=Configure network interfaces with ethtool settings
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
{% for cmd in ethtool_commands %}
{{ cmd }}
{% endfor %}

[Install]
WantedBy=multi-user.target
