[Unit]
Description=nvidia-smi-exporter
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=30s
Environment=IMAGE="nvcr.io/nvidia/k8s/dcgm-exporter"
Environment=VERSION="2.0.13-2.1.2-ubuntu18.04"
Environment=LOCALDIR="/data01/services/%N"
PassEnvironment=IMAGE VERSION LOCALDIR DATADIR HOATNAME
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ=America/Los_Angeles \
    -p=9400:9400 \
    --runtime=nvidia \
    --gpus=all \
    --cap-add SYS_ADMIN \
    --device /dev/dri:/dev/dri \
    ${IMAGE}:${VERSION}
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
