[Unit]
Description=Proxmox VE Exporter
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=60s
Environment=IMAGE="{{ docker_image }}"
Environment=VERSION="{{ docker_tag }}"
Environment=LOCALDIR="{{ home }}"
PassEnvironment=IMAGE VERSION LOCALDIR
ExecStartPre=-docker rm -f {{ service }}
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name={{ service }} \
    --hostname=%H \
    -e TZ=America/Los_Angeles \
    -p {{ exporter_port }}:9221 \
    -v ${LOCALDIR}/pve.yaml:/etc/prometheus/pve.yml:ro \
    ${IMAGE}:${VERSION}
ExecStop=docker rm -f {{ service }}

[Install]
WantedBy=multi-user.target
