[Unit]
Description=radarr-exporter
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=30s
Environment=IMAGE="ghcr.io/onedr0p/exportarr"
Environment=VERSION="latest"
PassEnvironment=IMAGE VERSION
ExecStartPre=-docker rm -f %N
ExecStartPre=-docker images | awk \'(/%N/){print $3}\' | xargs docker rmi -f
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${VERSION}
ExecStart=docker run --rm \
    --name=%N \
    --hostname=%H \
    -e TZ="America/Los_Angeles" \
    -e VERSION={{ exporter_version }} \
    -e URL=http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:{{ radarr_port }} \
    -e PORT={{ exporter_port }} \
    -e APIKEY="eb727e9d30f540d59677e7cc08161da4" \
    -e ENABLE_ADDITIONAL_METRICS=true \
    -p {{ exporter_port }}:{{ exporter_port }} \
  {{ exporter_image }}:{{ exporter_version }} \
    radarr
ExecStop=docker rm -f %N

[Install]
WantedBy=multi-user.target
